*{
	margin: 0;padding: 0;
}

content h3 {
    margin-bottom: 40px;
    color: green;
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    margin-bottom: 50px;
}
.clearfix{
	clear: both;
}
.cleartop{
	height: 70px
}
h4.modal-title{
	font-family:  Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;text-shadow: 5px 2px 5px #cccccc;
	font-weight: 600;color: #ffffff;
}
div.modal-body{
	background-color: #f5f5d9;
}
div.modal-header{
	background-color: #b161fb;
}
table td:last-child{
	text-align: right;
}
div.danger{
	padding: 10px 0px 5px;color: red;font-size: 13px;font-family:  Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}
.show_flash{
	width: auto;
	padding: 10px;
	position: absolute;
	right: 15px;
	border-radius: 5px;
	z-index: 1000;
}
.notice{
	border: 1px solid green;margin: 0px;
}
.waning{
	float: right;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    margin: 0px 0px 10px;
    width: 100px;
    text-align: center;
    background-color: #8a2be24d;
}
.more ul{
	width: 100%;
	height: auto;
	list-style: none;
	display: none;
}
.more ul li a{
	padding: 10px;display: block;border-top: 1px solid #ccc;
	text-align: center;
}
.anhien{
	padding: 20px;display: none;
}
.tog{
	text-align: center;
	width: 100px;
	height: auto;
	border: 1px solid #ccc;
	padding: 8px;
	margin: 5px auto;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #ccc;
	cursor: pointer;
}